body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 100px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #a9abac;
  height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}
.context-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
}
.body-context {
  align-items: center;
  text-align: center;
}
.context-menu-button {
  border: 1px solid #798081;
  width: 100%;
  margin: 0;
  background-color: white;
  width: 115px;
  padding: 10px 0px 10px 0px;
}
.context-menu-button:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

tr {
  display: flex;
}
.name {
  width: 160px;
}
.birth_year {
  width: 95.2px;
}
.eye_color {
  width: 114.4px;
}
.gender {
  width: 126.4px;
}
.hair_color {
  width: 117.6px;
}
.skin_color {
  width: 143.6px;
}
.selected {
  border-color: blue;
}
.selected-head {
  background-color: rgb(210, 229, 247);
  border-color: rgb(0, 128, 248);
}
th {
  background-color: rgb(235, 243, 252);
}
th:hover {
  background-color: rgb(210, 229, 247);
  border-color: rgb(0, 128, 248);
}
td {
  background-color: rgb(246, 245, 255);
}
td:hover {
  background-color: rgb(235, 240, 253);
  border-color: rgb(17, 17, 221);
}
.selected-tab {
  background-color: rgb(235, 240, 253);
  border-color: rgb(17, 17, 221);
}
input{margin-bottom: 20px;}